.app{
  width:100vw;
  height: 100vh;
  background-image: url('./public/img/lines.png');
  font-family: Helvetica, Arial, sans-serif;
}

.header-box{
  width: 95vw;
  border-bottom: black solid 2px;
  font-size: 3em;
  margin: 0 auto 0 auto;
  padding: 5px 0 25px 0;
}

.container{

}
